@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f transparent;
}

::selection {
  background: rgba(255, 255, 255, 0.15);
}
